@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F8FAFC; /* Tema claro */
  --text-color: #1E293B;
}

[data-theme="dark"] {
  --background-color: #111827; /* Tema escuro */
  --text-color: #F9FAFB;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}